<label for="formFileMultiple" class="form-label">Upload image to file server</label>              
    <input class="form-control" type="file" id="formFileMultiple" multiple />                        
                                          
        <br><button type="submit" class="btn btn-primary">Upload image</button>                                                                                                                       
      















